/* Header*/
/* Phe*/
.full-width-search {
  background-image: url("../images/slide18.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .full-width-search .search-section {
    margin-top: 60px;
    margin-bottom: 60px; }
    .full-width-search .search-section .nav-tabs {
      border-bottom: none; }
      .full-width-search .search-section .nav-tabs > li > a {
        color: #ffffff;
        background: rgba(10, 49, 82, 0.5);
        font-weight: bold;
        border-radius: 2px 2px 0 0;
        margin-right: 4px;
        padding: 15px; }
        .full-width-search .search-section .nav-tabs > li > a:hover {
          color: #ffffff;
          background: #f9676b;
          border: 1px solid transparent;
          text-decoration: none; }
      .full-width-search .search-section .nav-tabs > li.active > a, .full-width-search .search-section .nav-tabs > li.active > a:focus, .full-width-search .search-section .nav-tabs li.active > a:hover {
        color: #ffffff;
        background: #f9676b;
        border: 1px solid transparent; }
      .full-width-search .search-section .nav-tabs .fa-plane {
        transform: rotate(-45deg) translate(20%, 0%); }
    .full-width-search .search-section .tab-content {
      color: #07253F;
      background: #fff;
      padding: 30px 15px;
      margin-top: 14px; }
      .full-width-search .search-section .tab-content .product-search-title {
        font-size: 18px;
        display: block;
        font-weight: 800;
        text-transform: uppercase;
        color: #f9676b;
        padding-left: 15px; }
      .full-width-search .search-section .tab-content .search-col-padding {
        padding-top: 15px;
        padding-left: 15px; }
        .full-width-search .search-section .tab-content .search-col-padding label {
          font-size: 12px;
          font-weight: 600;
          text-transform: uppercase; }
          .full-width-search .search-section .tab-content .search-col-padding label.radio-inline {
            margin-right: 10px; }
        .full-width-search .search-section .tab-content .search-col-padding .form-control {
          background-color: transparent;
          border: 1px solid #BEC4C8;
          border-radius: 0;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
          color: #07253F;
          display: block;
          font-size: 15px;
          height: 40px;
          line-height: 1.42857;
          padding: 6px 12px;
          transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
          width: 100%; }
          .full-width-search .search-section .tab-content .search-col-padding .form-control::-moz-placeholder {
            color: #989DA0;
            opacity: 1; }
          .full-width-search .search-section .tab-content .search-col-padding .form-control::-ms-input-placeholder {
            color: #BEC4C8; }
          .full-width-search .search-section .tab-content .search-col-padding .form-control::-webkit-input-placeholder {
            color: #BEC4C8; }
          .full-width-search .search-section .tab-content .search-col-padding .form-control::-o-input-placeholder {
            color: #BEC4C8; }
        .full-width-search .search-section .tab-content .search-col-padding .input-group > .form-control {
          flex: 0.9; }
        .full-width-search .search-section .tab-content .search-col-padding .input-group-addon {
          background: transparent;
          color: #BEC4C8;
          border-top: 1px solid #BEC4C8;
          border-right: 1px solid #BEC4C8;
          border-bottom: 1px solid #BEC4C8;
          border-radius: 0;
          padding: 10px 12px;
          font-size: 12px; }
        .full-width-search .search-section .tab-content .search-col-padding .selectpicker {
          width: 82%;
          height: 40px; }
        .full-width-search .search-section .tab-content .search-col-padding option {
          color: #07253F; }
        .full-width-search .search-section .tab-content .search-col-padding .ui-spinner-up i {
          color: #BEC4C8;
          float: right;
          margin-top: -27px;
          margin-right: 10px;
          z-index: 99999; }
        .full-width-search .search-section .tab-content .search-col-padding .ui-spinner-down i {
          color: #BEC4C8;
          float: left;
          margin-top: -27px;
          margin-left: 10px;
          z-index: 99999; }
        .full-width-search .search-section .tab-content .search-col-padding .quantity-padding {
          padding-left: 40px !important; }
        .full-width-search .search-section .tab-content .search-col-padding .search-button {
          background: #f9676b;
          border-radius: 0;
          margin-top: 10px;
          padding: 10px 30px;
          font-size: 15px;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: bold;
          color: #fff;
          transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease; }
          .full-width-search .search-section .tab-content .search-col-padding .search-button:hover {
            background: #00adef;
            color: #fff; }

/* how-it-word*/
/* Haem*/
/*Recent-blog-posts*/
/*why-choose-us*/
/*hot-deals*/
/*footer*/
@media (max-width: 1024px) {
  /* Header*/
  /* Phe*/
  /* how-it-word*/
  /* Haem*/
  /*Recent-blog-posts*/
  /*why-choose-us*/
  /*hot-deals*/
  /*footer*/ }
@media (max-width: 768px) {
  /* Header*/
  /* Phe*/
  /* how-it-word*/
  /* Haem*/
  /*Recent-blog-posts*/
  /*why-choose-us*/
  /*hot-deals*/
  /*footer*/ }
@media (max-width: 677px) {
  /* Header*/
  /* Phe*/
  /* how-it-word*/
  /* Haem*/
  /*Recent-blog-posts*/
  /*why-choose-us*/
  /*hot-deals*/
  /*footer*/ }
@media (max-width: 480px) {
  /* Header*/
  /* Phe*/
  /* how-it-word*/
  /* Haem*/
  /*Recent-blog-posts*/
  /*why-choose-us*/
  /*hot-deals*/
  /*footer*/ }
@media (max-width: 320px) {
  /* Header*/
  /* Phe*/
  /* how-it-word*/
  /* Haem*/
  /*Recent-blog-posts*/
  /*why-choose-us*/
  /*hot-deals*/
  /*footer*/ }

/*# sourceMappingURL=style.css.map */
