/* Header*/
/* Phe*/
/* how-it-word*/
/* Haem*/
/*Recent-blog-posts*/
/*why-choose-us*/
.chooseus {
    margin: 0 auto;
    background: gray;

    .why {
        margin: 0 auto;

        .light-section-title {
            margin: 0 auto;

            h2 {
                color: #ffff;
                font-size: 30px;
                line-height: 60px;

            }

            h4 {
                color: #ffff;
                font-size: 18px;
                line-height: 20px;

            }

            p {
                color: #ffff;
                font-size: 15px;
            }
        }

        .wow {
            margin-top: 100px;
            background: white;
            border-radius: 0px;
            height: 350px;
            margin-bottom: 50px;

            .choose-us-item {
                position: relative;
                margin: 60px 10px 20px;

                .choose-icon {
                    width: 84.85px;
                    height: 84.85px;
                    background: #00adef;
                    transform: rotate(45deg);
                    position: absolute;
                    top: -103px;
                    left: 32%;
                    border-radius: 5px;

                    i {
                        color: #ffff;
                        font-size: 30px;
                        padding: 30px 0px;
                        transform: rotate(-45deg);
                    }
                }

                h4 {
                    color: white;
                    color: black;
                    font-size: 18px;
                    margin-top: 40px;
                    line-height: 40px;
                }

                p {
                    color: black;
                    font-size: 15px;
                    line-height: 20px;
                }

                a {
                    right: 30%;
                    color: white;
                    background: red;
                    font-size: 15px;
                    padding: 10px 30px;
                    line-height: 60px;
                    text-decoration: none;

                    &:hover {
                        background: blue;
                        color: black;
                    }

                }

            }
        }



    }
}

/*hot-deals*/
/*footer*/
footer {
    .sub {
        margin-top: 40px;

        form {
            &.form1 {
                margin: 0 auto;

                .main-footer-sub {
                    margin: 0 auto;
                    height: 200px;
                    background: pink;
                    padding-top: 30px;
                    position: relative;



                    .clear {
                        margin: 0 auto;



                        .form {
                            label {
                                color: black;
                                font-size: 20px;
                                line-height: 30px;

                            }

                            .clear {

                                input {
                                    width: 400px;
                                    height: 40px;
                                    border-radius: 0px;
                                    border: none;
                                    position: absolute;
                                    left: -17%;
                                    top: 16px;


                                }



                            }

                            .padding {
                                input {
                                    width: 120px;
                                    height: 40px;
                                    position: absolute;
                                    top: 15px;
                                    right: -200%;
                                    font-size: 15px;
                                    border-radius: 0px;
                                    border: none;
                                    background: red;
                                    color: white;

                                    &:hover {
                                        background: blue;
                                        color: black;
                                    }


                                }
                            }
                        }

                        .social-media {
                            margin-top: 50px;

                            ul {
                                li {
                                    float: left;
                                    background: blue;
                                    border-radius: 50%;
                                    width: 50px;
                                    height: 50px;
                                    list-style-type: none;
                                    margin-right: 4%;

                                    a {
                                        i {
                                            color: white;
                                            font-size: 20px;
                                            margin: 15px 0px;
                                        }
                                    }

                                }
                            }
                        }

                    }
                }
            }

        }

    }

    .main-footer {
        margin-top: 40px;

        .clear {
            margin: 0 auto;
            background: green;
            padding-bottom: 50px;

            #text-2 {
                h3 {
                    color: red;
                    font-size: 25px;
                    line-height: 25px;
                    padding-top: 40px;
                }

                .textwidget {
                    p {
                        color: black;
                        font-size: 15px;
                        line-height: 25px;

                    }

                    a {
                        color: red;
                        font-size: 16px;
                        line-height: 20px;
                        border: 2px solid red;
                        text-decoration: none;
                        padding: 10px 20px;

                    }
                }
            }

            #text-3 {
                h4 {
                    color: red;
                    font-size: 26px;
                    line-height: 25px;
                    padding-top: 40px;
                    margin-left: 20%;
                }

                .textwidget {
                    ul {
                        list-style-type: none;

                        li {
                            i {
                                color: gray;
                                font-size: 14px;
                            }

                            a {
                                font-size: 15px;
                                margin-left: 9px;
                                color: black;
                                line-height: 25px;
                            }
                        }
                    }
                }
            }

            #text-4 {
                h4 {
                    color: red;
                    font-size: 26px;
                    line-height: 25px;
                    padding-top: 40px;
                    margin-left: 20%;
                }

                .textwidget {
                    ul {
                        list-style-type: none;

                        li {
                            i {
                                color: gray;
                                font-size: 14px;
                            }

                            a {
                                font-size: 15px;
                                margin-left: 9px;
                                color: black;
                                line-height: 25px;

                            }
                        }
                    }
                }
            }

            #text-5 {
                h4 {
                    color: red;
                    font-size: 26px;
                    line-height: 25px;
                    padding-top: 40px;
                }

                .textwidget {
                    p {
                        color: black;
                        font-size: 15px;
                        line-height: 20px;

                        i {
                            color: red;
                            font-size: 14px;
                            border: 2px solid black;
                            border-radius: 50%;
                            width: 40px;
                            height: 40px;
                            font-size: 18px;
                            padding: 9px;


                        }
                    }
                }
            }

            #text-6 {
                h4 {
                    color: red;
                    font-size: 30px;
                    line-height: 25px;
                    padding-top: 40px;
                }

                .textwidget {
                    ul {
                        list-style-type: none;

                        li {
                            width: 60px;
                            height: 30px;
                            margin-right: 2%;

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }

        }
    }

    .main-footer-nav {
        background: gray;

        p {
            color: black;
            font-size: 15px;
            line-height: 20px;
            margin-top: 20px;
        }

        .me {
            ul {
                list-style-type: none;
                margin-top: 20px;

                li {
                    margin-right: 5%;

                    a {
                        color: black;
                        text-decoration: none;
                        font-size: 15px;

                    }
                }
            }
        }

        .go-up {
            position: relative;
            top: -20px;
            left: 85%;

            a {


                i {
                    font-size: 25px;
                    color: white;
                    background: black;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    padding: 9px;


                }
            }
        }

    }
}

@media (max-width: 1024px) {

    /* Header*/
    /* Phe*/
    /* how-it-word*/
    /* Haem*/
    /*Recent-blog-posts*/
    /*why-choose-us*/
    .chooseus {
        width: 100%;
    }

    /*hot-deals*/
    /*footer*/
    footer {
        width: 100%;
    }
}

@media (max-width: 768px) {

    /* Header*/
    /* Phe*/
    /* how-it-word*/
    /* Haem*/
    /*Recent-blog-posts*/
    /*why-choose-us*/
    .chooseus {
        width: 100%;
        background: pink;

        .why {
            .light-section-title {
                margin: 0 auto;

                h2 {
                    font-size: 25px;
                    line-height: 30px;
                    margin-top: 30px;
                }

                h4 {
                    font-size: 16px;
                    line-height: 20px;
                }

                p {
                    font-size: 14px;
                }
            }

            .wow {
                margin-top: 50px;
                border-radius: 0px;
                height: 300px;
                margin-bottom: 50px;

                .choose-us-item {
                    .choose-icon {
                        width: 60px;
                        height: 60px;
                        background: blue;
                        position: absolute;
                        top: -90px;

                        i {
                            font-size: 25px;
                            padding: 17px 0px;
                        }
                    }

                    h4 {
                        font-size: 18px;
                        margin-top: 5px;
                        line-height: 30px;
                    }

                    p {
                        font-size: 15px;
                        line-height: 20px;
                    }

                    a {
                        font-size: 15px;
                        padding: 10px 20px;
                        line-height: 40px;
                    }
                }
            }

        }
    }

    /*hot-deals*/
    /*footer*/
    footer {
        width: 100%;

        .sub {
            form {
                &.form1 {


                    .main-footer-sub {




                        .clear {



                            .form {
                                label {}

                                .clear {

                                    input {
                                        width: 250px;
                                        height: 30px;
                                        font-size: 14px;


                                    }



                                }

                                .padding {
                                    input {
                                        right: -280%;
                                        height: 30px;
                                        font-size: 14px;



                                    }
                                }
                            }

                            .social-media {
                                margin-top: 50px;

                                ul {
                                    li {

                                        width: 40px;
                                        height: 40px;
                                        margin-right: 1%;

                                        a {
                                            i {
                                                margin: 10px 0px;
                                            }
                                        }

                                    }
                                }
                            }

                        }
                    }
                }

            }
        }

        .main-footer {

            .clear {


                #text-2 {
                    h3 {

                        font-size: 20px;
                        line-height: 20px;
                        padding-top: 20px;
                    }

                    .textwidget {
                        p {
                            line-height: 20px;

                        }

                        a {
                            font-size: 15px;
                            line-height: 20px;
                            padding: 10px 10px;

                        }
                    }
                }

                #text-3 {
                    h4 {
                        font-size: 20px;
                        line-height: 20px;
                        padding-top: 20px;
                        margin-left: 10%;
                    }

                    .textwidget {
                        ul {

                            li {
                                i {
                                    display: none;
                                }

                                a {
                                    font-size: 14px;
                                    line-height: 20px;
                                    text-decoration: none;
                                    margin-left: -25%;
                                }
                            }
                        }
                    }
                }

                #text-4 {
                    h4 {
                        font-size: 20px;
                        line-height: 20px;
                        padding-top: 20px;
                        margin-left: 10%;
                    }

                    .textwidget {
                        ul {

                            li {
                                i {
                                    display: none;
                                }

                                a {
                                    font-size: 14px;
                                    line-height: 20px;
                                    text-decoration: none;
                                    margin-left: -20%;
                                }
                            }
                        }
                    }
                }

                #text-5 {
                    h4 {
                        font-size: 20px;
                        line-height: 20px;
                        padding-top: 20px;
                        margin-left: 0%;
                    }

                    .textwidget {
                        margin-left: -5%;

                        p {
                            color: black;
                            font-size: 12px;
                            line-height: 18px;


                            i {
                                color: red;
                                font-size: 14px;
                                border: 2px solid black;
                                border-radius: 50%;
                                width: 30px;
                                height: 30px;
                                padding: 5px;


                            }
                        }
                    }
                }

                #text-6 {
                    h4 {}

                    .textwidget {
                        ul {

                            li {


                                img {}
                            }
                        }
                    }
                }

            }
        }


    }
}

@media (max-width: 677px) {

    /* Header*/
    /* Phe*/
    /* how-it-word*/
    /* Haem*/
    /*Recent-blog-posts*/
    /*why-choose-us*/
    .chooseus {
        width: 100%;
        background: green;

        .why {
            .light-section-title {
                h2 {}

                h4 {}

                p {}
            }

            .wow {
                margin-top: 50px;
                border-radius: 0px;
                height: 300px;
                margin-bottom: 50px;

                .choose-us-item {
                    .choose-icon {
                        width: 40px;
                        height: 40px;
                        background: blue;
                        position: absolute;
                        top: -80px;
                        left: -20%;

                        i {
                            font-size: 20px;
                            padding: 11px 0px;
                        }
                    }

                    h4 {
                        font-size: 18px;
                        margin-top: -15px;
                        line-height: 20px;
                        position: absolute;
                        top: -30px;
                        left: 10%;
                        text-align: right;
                    }

                    p {
                        font-size: 14px;
                        line-height: 20px;
                        text-align: left;

                    }

                    a {
                        font-size: 14px;
                        padding: 5px 5px;
                        line-height: 40px;
                    }
                }
            }

        }
    }

    /*hot-deals*/
    /*footer*/
    footer {
        width: 100%;

        .sub {




            form {
                &.form1 {


                    .main-footer-sub {




                        .clear {



                            .form {
                                label {}

                                .clear {

                                    input {
                                        width: 250px;
                                        height: 30px;
                                        font-size: 14px;


                                    }



                                }

                                .padding {
                                    input {
                                        right: -148%;
                                        height: 30px;
                                        font-size: 14px;


                                        &.ajax-loader {}

                                        span {}
                                    }
                                }
                            }

                            .social-media {
                                margin-top: 50px;

                                ul {
                                    li {

                                        width: 40px;
                                        height: 40px;
                                        margin-right: 1%;

                                        a {
                                            i {
                                                margin: 10px 0px;
                                            }
                                        }

                                    }
                                }
                            }

                        }
                    }
                }

            }
        }

        .main-footer {

            .clear {


                #text-2 {
                    h3 {}

                    .textwidget {
                        p {}

                        a {}
                    }
                }

                #text-3 {
                    h4 {

                        margin-left: 15%;
                    }

                    .textwidget {
                        ul {

                            li {
                                i {
                                    display: none;
                                }

                                a {

                                    margin-left: 0%;
                                }
                            }
                        }
                    }
                }

                #text-4 {
                    h4 {
                        margin-left: 0%;
                    }

                    .textwidget {
                        ul {

                            li {
                                i {
                                    display: none;
                                }

                                a {
                                    margin-left: -15%;

                                }
                            }
                        }
                    }
                }

                #text-5 {
                    h4 {

                        margin-left: -5%;
                    }

                    .textwidget {
                        p {


                            i {}
                        }
                    }
                }

                #text-6 {
                    h4 {}

                    .textwidget {
                        ul {

                            li {


                                img {}
                            }
                        }
                    }
                }

            }
        }


    }
}

@media (max-width: 480px) {

    /* Header*/
    /* Phe*/
    /* how-it-word*/
    /* Haem*/
    /*Recent-blog-posts*/
    /*why-choose-us*/
    .chooseus {
        width: 100%;
        background: red;

        .why {
            .light-section-title {
                h2 {}

                h4 {}

                p {}
            }

            .wow {
                margin-top: 5px;
                border-radius: 5px;
                height: 250px;
                margin-bottom: 50px;

                .choose-us-item {
                    .choose-icon {
                        width: 60px;
                        height: 60px;
                        background: blue;
                        position: absolute;
                        top: -90px;
                        left: -5%;
                        border-radius: 10px;

                        i {
                            font-size: 30px;
                            padding: 12px 0px;
                        }
                    }

                    h4 {
                        font-size: 20px;
                        margin-top: 0px;
                        line-height: 20px;
                        position: absolute;
                        top: -30px;
                        left: 10%;
                        text-align: left
                    }

                    p {
                        font-size: 16px;
                        line-height: 20px;
                        text-align: left;

                    }

                    a {
                        font-size: 16px;
                        padding: 10px 10px;
                        line-height: 40px;
                    }
                }
            }

        }
    }

    /*hot-deals*/
    /*footer*/
    footer {
        width: 100%;

        .sub {
            display: none;





            form {
                &.form1 {


                    .main-footer-sub {




                        .clear {



                            .form {
                                label {}

                                .clear {

                                    input {}



                                }

                                .padding {
                                    input {


                                        &.ajax-loader {}

                                        span {}
                                    }
                                }
                            }

                            .social-media {
                                margin-top: 50px;

                                ul {
                                    li {



                                        a {
                                            i {}
                                        }

                                    }
                                }
                            }

                        }
                    }
                }

            }
        }

        .main-footer {

            .clear {


                #text-2 {
                    h3 {}

                    .textwidget {
                        p {}

                        a {}
                    }
                }

                #text-3 {
                    margin-top: 10px;

                    h4 {

                        margin-left: 0%;
                    }

                    .textwidget {
                        ul {

                            li {
                                i {}

                                a {

                                    margin-left: -10%;
                                }
                            }
                        }
                    }
                }

                #text-4 {
                    h4 {}

                    .textwidget {
                        ul {

                            li {
                                i {}

                                a {
                                    margin-left: -10%;

                                }
                            }
                        }
                    }
                }

                #text-5 {
                    h4 {

                        margin-left: 0%;
                    }

                    .textwidget {
                        margin-left: 1%;

                        p {


                            i {}
                        }
                    }
                }

                #text-6 {
                    h4 {}

                    .textwidget {
                        ul {

                            li {


                                img {}
                            }
                        }
                    }
                }

            }
        }


    }
}

@media (max-width: 320px) {

    /* Header*/
    /* Phe*/
    /* how-it-word*/
    /* Haem*/
    /*Recent-blog-posts*/
    /*why-choose-us*/
    .chooseus {
        width: 100%;
        background: yellow;

        .why {
            .light-section-title {
                h2 {}

                h4 {}

                p {}
            }

            .wow {
                margin-top: 0px;
                border-radius: 5px;
                height: 250px;
                margin-bottom: 20px;

                .choose-us-item {
                    .choose-icon {
                        display: none;

                        i {}
                    }

                    h4 {}

                    p {}

                    a {}
                }
            }

        }
    }

    /*hot-deals*/
    /*footer*/
    footer {
        width: 100%;



    }
}