/* Header*/
.header-main {
    .text {
        p.tt {
            float: left;
            margin-top: 8px;
            margin-bottom: 0;
            font-size: 14px;
            padding: 0;
        }
    }

    .search {
        margin-top: 5px;
        margin-bottom: 5px;

        .form-control {
            border: none;
            outline: none;
            border-radius: 0;
            height: 30px;
            width: 50px;
        }

        .fa {
            width: 40px;
            height: 30px;
            font-size: 20px;
            padding-top: 5px;
        }
    }

}

.menu img.logo {
    width: 200px;
    height: 70px;
}
/* Phe*/
/* how-it-word*/
.title {
    padding-top: 60px;
}

.inf-item {
    margin-top: 50px;

    .inf {
        .item {
            width: 80px;
            height: 80px;
            color: white;
            background: #f25e5e;
            border-radius: 50%;
            padding-top: 22px;
        }

        h3 {
            padding-top: 30px;
        }
    }
}

ul.navbar-nav li {
    margin-left: 20px;
    font-size: 18px;
    text-align: center;
}
/* Haem*/
.devlok {
    .product-wrapper {
        padding: 15px;
        text-align: center;

        .tooltip-right {
            h5 {
                color: #70dde5;
            }

            .clearfix {
                border-bottom: 15px solid transparent;
                border-left: 15px solid #fff;
                border-top: 15px solid transparent;
                content: "";
                height: 0;
                position: absolute;
                right: -1.9rem;
                top: 39%;
                width: 0;
                z-index: 2;
            }

            .clearfixx {
                border-bottom: 15px solid transparent;
                border-right: 15px solid #fff;
                border-top: 15px solid transparent;
                content: "";
                height: 0;
                position: absolute;
                left: -1.85rem;
                top: 45%;
                width: 0;
                z-index: 2;

            }

            .pull-left {
                float: left;
            }

            .pricing-info {
                .pull-left {
                    margin-left: 0;

                    span {
                        color: red;
                        font-weight: bold;
                        padding-top: 5px;
                    }
                }
            }
        }
    }

    .overlay {
        color: white;
        width: 20rem;
        background: #00000061;
        position: absolute;
        top: 11rem;
        left: 11rem;

        h5 {
            color: #70dde5;
        }

        .pull-left {

            float: left;
            padding-left: 10px;
            padding-bottom: 15px;

            span.a {
                color: red;
                font-weight: bold;
                padding-top: 5px;
            }
        }

        .pull-right {
            padding-bottom: 15px;
        }
    }
}

.top-destination {
    .row {

        .overlay {
            width: 95%;
            height: 95%;
            background: #00000033;
            position: absolute;
            top: 25px;

            .wrapper {
                width: 50%;
                position: absolute;
                top: 9rem;
                left: 7rem;
            }
        }

    }
}

/*Recent-blog-posts*/
/*why-choose-us*/
/*hot-deals*/
/*footer*/
@media (max-width: 1024px) {

    /* Header*/
     .menu {
        background-color: #d8d6d6;
    }

    .none {
        display: none;
    }

    ul.navbar-nav li {
        font-size: 14px;
    }
    /* Phe*/
    /* how-it-word*/
    /* Haem*/
    .devlok {
        .overlay {
            position: absolute;
            top: 7rem;
            left: 6rem;

        }
    }


    /*Recent-blog-posts*/
    /*why-choose-us*/
    /*hot-deals*/
    /*footer*/
}

@media (max-width: 768px) {

    /* Header*/
    .menu {
        button {
            position: absolute;
            right: 10px;
            top: 24px;
        }
    }
    /* Phe*/
    /* how-it-word*/
    title {
            font-size: 28px;
        }
    /* Haem*/
    .devlok {
        .overlay {
            position: absolute;
            left: 2rem;
            top: 1rem;
            background: none;
            color: black;


        }

        .aaaa {
            margin-left: 23rem;
        }
    }
	.top-destination {
        .row {
            .overlay {
                width: 92%;
                height: 92%;
                background: #00000033;
                position: absolute;
                top: 25px;

                .wrapper {
                    width: 80%;
                    position: absolute;
                    top: 2rem;
                    left: 2rem;
                }
            }

        }
    }
    /*Recent-blog-posts*/
    /*why-choose-us*/
    /*hot-deals*/
    /*footer*/
}

@media (max-width: 677px) {
    /* Header*/
    /* Phe*/
    /* how-it-word*/
    /* Haem*/
	.devlok {
        .overlay {
            position: absolute;
            left: 1rem;
            top: 1rem;
            background: none;
            color: black;


        }

        .aaaa {
            margin-top: 20rem;
            margin-left: 0;
        }
    }
	.top-destination {
        .row {
            .overlay {
                width: 92%;
                height: 92%;
                background: #00000033;
                position: absolute;
                top: 25px;

                .wrapper {
                    width: 100%;
                    position: absolute;
                    top: 0rem;
                    left: 0rem;
                }
            }

        }
    }
    /*Recent-blog-posts*/
    /*why-choose-us*/
    /*hot-deals*/
    /*footer*/
}

@media (max-width: 480px) {

    /* Header*/
     .menu {
        .navbar-collapse {
            width: 109.5%;
            position: absolute;
            top: 83px;
            background: #d8d6d6bf;
            left: -15px;
            z-index: 2;
        }
    }
    /* Phe*/
    /* how-it-word*/
    /* Haem*/
    .devlok {
        .overlay {
            position: absolute;
            left: 1rem;
            top: 1rem;
            background: none;
            color: black;


        }

        .aaaa {
            margin-top: 20rem;
            margin-left: 0;
        }
    }
	.top-destination {
        .row {
            .overlay {
                width: 92%;
                height: 92%;
                background: #00000033;
                position: absolute;
                top: 25px;

                .wrapper {
                    width: 100%;
                    position: absolute;
                    top: 0rem;
                    left: 0rem;
                }
            }

        }
    }
    /*Recent-blog-posts*/
    /*why-choose-us*/
    /*hot-deals*/
    /*footer*/
}

@media (max-width: 320px) {

    /* Header*/
    /* Phe*/
    /* how-it-word*/
    /* Haem*/
    .devlok {
        .overlay {
            position: absolute;
            left: 1rem;
            top: 1rem;
            background: none;
            color: black;

        }

        .aaaa {
            margin-top: 20rem;
            margin-left: 0;
        }
    }

    /*Recent-blog-posts*/
    /*why-choose-us*/
    /*hot-deals*/
    /*footer*/
}