/* Header*/
/* Phe*/
.full-width-search{
  background-image: url('../images/slide18.jpg');
  background-repeat: no-repeat;
  background-size: cover;
    .search-section {
	  margin-top: 60px;
	  margin-bottom: 60px;
	  	.nav-tabs{
  			border-bottom: none;
  			> li > a{
			  color: #ffffff;
			  background: rgba(10, 49, 82, 0.5);
			  font-weight: bold;
			  border-radius: 2px 2px 0 0;
			  margin-right: 4px;
			  padding: 15px;
			  &:hover{
			  	  	color: #ffffff;
  					background: #f9676b;
  					border: 1px solid transparent;
  					text-decoration: none;
			  }
			}
			> li.active > a,> li.active > a:focus,li.active > a:hover{
 				color: #ffffff;
  				background: #f9676b;
  				border: 1px solid transparent;
			}
			.fa-plane{
				transform: rotate(-45deg) translate(20%, 0%)  ;
			}
		}
		.tab-content {
  			color: #07253F;
  			background: #fff;
  			padding: 30px 15px;
  			margin-top: 14px;
  			.product-search-title{
  				 font-size: 18px;
				  display: block;
				  font-weight: 800;
				  text-transform: uppercase;
				  color: #f9676b;
				  padding-left: 15px;
  			}
  			.search-col-padding{
  				padding-top: 15px;
  				padding-left: 15px;
  				label {
				    font-size: 12px;
				    font-weight: 600;
				    text-transform: uppercase;
				    &.radio-inline{
					  	margin-right: 10px;
					}
				}
				.form-control {
				    background-color: transparent;
				    border: 1px solid #BEC4C8;
				    border-radius: 0;
				    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
				    color: #07253F;
				    display: block;
				    font-size: 15px;
				    height: 40px;
				    line-height: 1.42857;
				    padding: 6px 12px;
				    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
				    width: 100%;
				    &::-moz-placeholder {
					  color: #989DA0;
					  opacity:1;
					}
					&::-ms-input-placeholder {
					  color: #BEC4C8;
					}
					&::-webkit-input-placeholder {
					  color: #BEC4C8;
					}
					&::-o-input-placeholder {
					  color: #BEC4C8;
					}
				}
				.input-group>.form-control{
  					flex: 0.9;
				}
				.input-group-addon {
				  background: transparent;
				  color: #BEC4C8;
				  border-top: 1px solid #BEC4C8;
				  border-right: 1px solid #BEC4C8;
				  border-bottom: 1px solid #BEC4C8;
				  border-radius: 0;
				  padding: 10px 12px;
				  font-size: 12px;
				}
				.selectpicker{
				  width: 82%;
				  height: 40px;
				}
				option {
				  color: #07253F;
				}
				.ui-spinner-up i {
				  color: #BEC4C8;
				  float: right;
				  margin-top: -27px;
				  margin-right: 10px;
				  z-index: 99999;
				}
				.ui-spinner-down i {
				  color: #BEC4C8;
				  float: left;
				  margin-top: -27px;
				  margin-left: 10px;
				  z-index: 99999;
				}
				.quantity-padding {
				  padding-left: 40px !important;
				}
				.search-button {
				  background: #f9676b;
				  border-radius: 0;
				  margin-top: 10px;
				  padding: 10px 30px;
				  font-size: 15px;
				  text-transform: uppercase;
				  letter-spacing: 1px;
				  font-weight: bold;
				  color: #fff;
				  transition: all 0.3s ease;
				  -ms-transition: all 0.3s ease;
				  -moz-transition: all 0.3s ease;
				  -webkit-transition: all 0.3s ease;
				  -o-transition: all 0.3s ease;
				  &:hover {
					  background: #00adef;
					  color: #fff;
					}
				}
  			}
		}
	}
}
/* how-it-word*/
/* Haem*/
.devlok {
    .product-wrapper {
        padding: 15px;
        text-align: center;

        .tooltip-right {
            h5 {
                color: #70dde5;
            }

            .clearfix {
                border-bottom: 15px solid transparent;
                border-left: 15px solid #fff;
                border-top: 15px solid transparent;
                content: "";
                height: 0;
                position: absolute;
                right: -1.9rem;
                top: 39%;
                width: 0;
                z-index: 2;
            }

            .clearfixx {
                border-bottom: 15px solid transparent;
                border-right: 15px solid #fff;
                border-top: 15px solid transparent;
                content: "";
                height: 0;
                position: absolute;
                left: -1.85rem;
                top: 45%;
                width: 0;
                z-index: 2;

            }

            .pull-left {
                float: left;
            }

            .pricing-info {
                .pull-left {
                    margin-left: 0;

                    span {
                        color: red;
                        font-weight: bold;
                        padding-top: 5px;
                    }
                }
            }
        }
    }

    .overlay {
        color: white;
        width: 20rem;
        background: #00000061;
        position: absolute;
        top: 11rem;
        left: 11rem;

        h5 {
            color: #70dde5;
        }

        .pull-left {

            float: left;
            padding-left: 10px;
            padding-bottom: 15px;

            span.a {
                color: red;
                font-weight: bold;
                padding-top: 5px;
            }
        }

        .pull-right {
            padding-bottom: 15px;
        }
    }
}

.top-destination {
    .row {

        .overlay {
            width: 95%;
            height: 95%;
            background: #00000033;
            position: absolute;
            top: 25px;

            .wrapper {
                width: 50%;
                position: absolute;
                top: 9rem;
                left: 7rem;
            }
        }

    }
}

/*Recent-blog-posts*/
/*why-choose-us*/
/*hot-deals*/
/*footer*/
@media (max-width: 1024px) {

    /* Header*/
    /* Phe*/
    /* how-it-word*/
    /* Haem*/
    .devlok {
        .overlay {
            position: absolute;
            top: 7rem;
            left: 6rem;

        }
    }


    /*Recent-blog-posts*/
    /*why-choose-us*/
    /*hot-deals*/
    /*footer*/
}

@media (max-width: 768px) {

    /* Header*/
    /* Phe*/
    /* how-it-word*/
    /* Haem*/
    .devlok {
        .overlay {
            position: absolute;
            left: 2rem;
            top: 1rem;
            background: none;
            color: black;


        }

        .aaaa {
            margin-left: 23rem;
        }
    }
	.top-destination {
        .row {
            .overlay {
                width: 92%;
                height: 92%;
                background: #00000033;
                position: absolute;
                top: 25px;

                .wrapper {
                    width: 80%;
                    position: absolute;
                    top: 2rem;
                    left: 2rem;
                }
            }

        }
    }
    /*Recent-blog-posts*/
    /*why-choose-us*/
    /*hot-deals*/
    /*footer*/
}

@media (max-width: 677px) {
    /* Header*/
    /* Phe*/
    /* how-it-word*/
    /* Haem*/
	.devlok {
        .overlay {
            position: absolute;
            left: 1rem;
            top: 1rem;
            background: none;
            color: black;


        }

        .aaaa {
            margin-top: 20rem;
            margin-left: 0;
        }
    }
	.top-destination {
        .row {
            .overlay {
                width: 92%;
                height: 92%;
                background: #00000033;
                position: absolute;
                top: 25px;

                .wrapper {
                    width: 100%;
                    position: absolute;
                    top: 0rem;
                    left: 0rem;
                }
            }

        }
    }
    /*Recent-blog-posts*/
    /*why-choose-us*/
    /*hot-deals*/
    /*footer*/
}

@media (max-width: 480px) {

    /* Header*/
    /* Phe*/
    /* how-it-word*/
    /* Haem*/
    .devlok {
        .overlay {
            position: absolute;
            left: 1rem;
            top: 1rem;
            background: none;
            color: black;


        }

        .aaaa {
            margin-top: 20rem;
            margin-left: 0;
        }
    }
	.top-destination {
        .row {
            .overlay {
                width: 92%;
                height: 92%;
                background: #00000033;
                position: absolute;
                top: 25px;

                .wrapper {
                    width: 100%;
                    position: absolute;
                    top: 0rem;
                    left: 0rem;
                }
            }

        }
    }
    /*Recent-blog-posts*/
    /*why-choose-us*/
    /*hot-deals*/
    /*footer*/
}

@media (max-width: 320px) {

    /* Header*/
    /* Phe*/
    /* how-it-word*/
    /* Haem*/
    .devlok {
        .overlay {
            position: absolute;
            left: 1rem;
            top: 1rem;
            background: none;
            color: black;

        }

        .aaaa {
            margin-top: 20rem;
            margin-left: 0;
        }
    }

    /*Recent-blog-posts*/
    /*why-choose-us*/
    /*hot-deals*/
    /*footer*/
}